body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navBar{
  background-color: rgba(0, 0, 0, 0.76);
}
.button1{
  float: left;
  width: 120px;
  height: 50px;
  background-color: white;
  color: white;
  margin-left: 10px;
  margin-top: 20px;
  border: 1px solid #61dafb;

}

.header{
  background-color:white;
  height: 100px;
}
.span{
  color:#61dafb ;
  font-family: Nazanin;
  font-size: large;
  margin-left: 10px;

}
.btn2 {
  background-color: #61dafb;
  color: white;
  border: none;
}
.card{

  border:1px solid rgba(245, 245, 245, 0.15);
  width: 200px;


}
.img{
position: static;
  top: 5px;
  width: 200px;
  height: 200px;
 margin-right: 40px;
  margin-top: 10px;

}
.title{
  margin-right: 20px;
}
.text{
  position: absolute;
 left: 10px;
  bottom: 80px;
}
.count{
  position: absolute;
  bottom: 60px;
  margin-right: 50px;
}
.buttonP{
  position:absolute;
  bottom: 10px;
  background-color: #61dafb;
  right: 70px;

}
.and{

  width: 300px;
  height: 400px;
  border:1px solid rgba(128, 128, 128, 0.36);
    flex: 1;

}
.li{
    position: relative;
    float:right;
    list-style-type: none;
}
.ul{
    margin-left: 40px;
}